babel
beautifulsoup4
bracex
cairocffi
CairoSVG
certifi
cffi
cfgv
charset-normalizer
click
colorama
cssselect2
defusedxml
distlib
filelock
ghp-import
gitdb
GitPython
identify
idna
Jinja2
Markdown
MarkupSafe
mdx_spanner
mergedeep
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-get-deps
mkdocs-git-revision-date-localized-plugin
mkdocs-htmlproofer-plugin
mkdocs-localsearch
mkdocs-material
mkdocs-material-extensions
natsort
nodeenv
packaging
paginate
pathspec
pillow
platformdirs
pre_commit
pycparser
Pygments
pymdown-extensions
python-dateutil
pytz
PyYAML
pyyaml_env_tag
regex
requests
six
smmap
soupsieve
tinycss2
urllib3
virtualenv
watchdog
wcmatch
webencodings
